body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

#logo{
    width: 10%: url("./src/videos/social.mp4");
    
}

#section_video{
    position: relative;
    height: calc(100vh - 70px);
    background-color:  red;
    top: 70px;
}