body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0,5;
  }

#logo{
    width: 10%;    
}

#carrousel_container{
    height: 100%;
    /* align-self: center;
    justify-self: center; */
}


#section_video{
    /* display: flex;
    flex-direction: row; */
    position: relative;
    /* background-color: red; */
    height: calc(100vh - 70px);
    /* background-color:  red; */
    top: 70px;
    
}