@import "../../../src/Styles/scss/variables";
@import "../../../node_modules/bulma/bulma.sass";
@import "../../../node_modules/bulma-extensions/bulma-carousel/src/sass/index.sass";

// POLICES

@mixin googleFonts($nom){
  @import url('https://fonts.googleapis.com/css2?family=' + $nom + '&display=swap');
}
@include googleFonts('$police_titre');
@include googleFonts('$police_texte');

// GLOBAL


body{
   
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #303036;
}

.align-centered{
  display: flex;
  // flex-direction: row;
  justify-content: center;
  align-items: center;
}

#texte-video{
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  font-family: $police_texte;
  font-size: 1.2em;
  color: $couleur_tertiaire;
}
div p{
  font-family: $police_texte;
  font-size: 1.5em;
  color: $couleur_tertiaire;
}
h1,h2,h3 {
  font-family: $police_titre;
  font-size: 2em;
  color: $couleur_tertiaire;
}

p+ul{
  font-family: $police_texte;
  list-style: inside;
  color: $couleur_tertiaire;
}

a{
  color: $couleur_secondaire;
}
a:active{
  color:$couleur_secondaire;
}
button:hover{
  transform: scale(1.2);
  transition: 0.4s;
}




// ** RUBRIQUE HEADER ** 

// NAVBAR

header{
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  transition: 0.6s;
  padding:10px 20px;
  flex-direction: row-reverse;
  }
  .logo{
    padding-top: 5px;
    padding-left: 20px;
  }
  header.sticky{
    padding:10px 20px;
    background:#303036;
  }
  
  /* Sidenav menu */
  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 4;
    top: 0;
    left: -250px;
    background-color:#303036;
    padding-top: 10px;
    transition: left 0.5s ease;
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:#ccdbde;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #ccdbde;
    transform: scale(1.1);
    transition: 0.4s;
    text-decoration: underline;
  }
  
  /* Active class */
  .sidenav.active {
    left: 0;
  }
  
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .burger-icon span {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #ccdbde;
    margin: 4px 0;
  }

// ** RUBRIQUE BODY **

// SECTION VIDEO

//VIDEO DE FOND
#section_video{
  height: 100vh;
}

#video{
  position: absolute;
  width: 100vw;
}

video {
  width: 100%;
  opacity: 0.5;
}

// #texte_video{
//   position: absolute;
//   top: 40%;
//   // height: 100%;
//     // display: flex;
//     // justify-content: center;
//     // align-items: center;
//     h1{
//       position: absolute;
//       top: 40%;
//       z-index: 2;
//     }
// }



// CARROUSEL

#slider{
  top: 68%;
  position: relative;
  z-index: 3;
  background-color: hsl(0 100% 100% / 0);
  img{
    border-radius: 10px;
  }
  // img:hover{
  //   transform: scale(150%);
  // }
  
}
#slider2{
  top: 65%;
  position: relative;
  background-color: hsl(0 100% 100% / 0);
  img{
    border-radius: 10px;
  }
  
}

.modal-align{
  display: flex;
  align-items: center;

}


// .space{
//   background-color: blue;
//   width: 200px;
// }
// figure{
//   background-color: red;
//     width: 200px;
//     height: 300px;
// }


// SECTION BANNIERE

.hero{
  position: relative;
  background-color: $couleur_secondaire;
  z-index: 2;
  
}
#section_banniere{
  img{
    border-radius: 30px;
  }
  a{
    color: $couleur_secondaire;
  //   text-decoration: none;
  }
  a:active{
    color:$couleur_secondaire;
  }
}

// .hero p {
//   color:#ccdbde;
// }

// .hero h2{
//   color:#ccdbde;
// }


// SECTION TECHNOS

// SECTION PROJET

.projet{
  background-color:$couleur_secondaire;
}


.bordure{
  border: 10px solid #303036;
  border-radius: 20px;
  box-shadow: 9px 10px 17px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 9px 10px 17px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 9px 10px 17px 0px rgba(0,0,0,0.75);
}

.effet:hover{
  box-shadow: 4px 13px 17px 9px rgba(0,0,0,0.4);
  -webkit-box-shadow: 4px 13px 17px 9px rgba(0,0,0,0.4);
  -moz-box-shadow: 4px 13px 17px 9px rgba(0,0,0,0.4);
  transform: translateY(+2px);

}

// ** RUBRIQUE FOOTER **

footer{
  height: 80px;
  a {
    text-decoration: none;
  }
  a:hover{
   color: $couleur_tertiaire
  }
  span, a{
    font-family: $police_texte;
    font-size: 1.2em;
    color: $couleur_tertiaire;
  }
  

}

@media (min-height: 768px){
  // $modal-content-width: 150px;
  #section_video{
    height: 50vh;
  }

  .hero-body{
    padding-top: 150px;
  }
  // #section_banniere{
  //   img{
  //     padding-top: 150px;
  //   }
  // }
}