@import "../../../src/Styles/scss/variables";
@import "../../../node_modules/bulma/bulma.sass";


body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.navbar {
    background-color: hsl(0 100% 100% / 0);
  }

#section_video{
    position: relative;
    height: 100vh;
}

video {
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    width: 70%;
    // height: calc(100vh);
    opacity: 0.8;
}

#video{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}


#logo{
    width: 10%;    
}

.align-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}


#slider{
    position: relative;
}

#texte-video{
    position: absolute;
    height: calc(70vh - 70px);
  }

#separation{
    height: 400px;
}

p{
    font-size: 40px;
}